
.pic{
	float: right;
    display: block;
    position: relative;
    width: 704px;
    left: -51px;
    height: auto;
    max-height: 450px;
}

.container{

	width: 100%;
    background-color: orange;
}

.details1{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details2{
    margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details3{
    margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details4{
    margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details5{
    margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details6{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details7{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details8{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details9{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details10{
	margin-left: 4%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}
p{
	margin-left:5px;
	font-size:small;
	width:100%;
}

h2{
	margin-left: 31%;
    width: 1087px;
    height: 41px;

}

h5{
	margin-left: 6px;
    font-size: 1.64rem;
    line-height: 110%;
    position: relative;
    display:block;
    width:400px;
}

a{
	margin-left: 5px;
	padding-bottom: 8px;
}

.font-small{
	font-size:small;
}