.giphy{
	float:left;
	margin:20px;
}

.pic{
	float: right;
    display: block;
    position: relative;
    width: 704px;
    left: 50px;
    height: auto;
}

.container{
	float:left;
	position:relative;
	border-color:black;
	border-width: 3px;
	background-color:orange;
	margin-left: 2%;

}

.details1{
	margin-left:10%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display:flow-root;
}

.details2{
	margin-left:10%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details3{
	margin-left:10%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details4{
	margin-left:10%;
	margin-top:20px;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

.details5{
	margin-top:20px;
	margin-left:10%;
	border-width: 2px;
	width: 100%;
	display: flow-root;
}

p{
	margin-left:5px;
	font-size:small;
	width:100%;
}

h2{
	margin-left: 20%;
    width: 1087px;
    height: 41px;

}

h5{
	margin-left: 6px;
    font-size: 1.64rem;
    line-height: 110%;
    position: relative;
    display:block;
}

a{
	margin-left: 5px;
	padding-bottom: 8px;
}

.font-small{
	font-size:small;
}